.App {
  text-align: center;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: var(--tezex-bg);
  color: var(--tezex-text);
}

.mainCon {
  display: flex;
}
